:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --title: #313131;
  --text: #b6b6b6;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e5e5e5;
  font-family: "Inter", sans-serif;
}

header {
  background-image: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
  display: flex;
  flex-direction: column;
  height: 25rem;
}

header .main-header {
  width: 90rem;
  margin: 0 auto;
}

header .main-header .header {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding-top: 4.1rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}

header .main-header h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}

.search-bar {
  max-height: 6.5rem;
  position: absolute;
  top: 14.4rem;
  max-width: 100%;
}

.search-bar input {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 0.5rem;
  color: var(--white);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.178rem;
  padding: 2.1rem 6.4rem;
  opacity: 0.5;
  outline: 0;
  width: 90rem;
}

.search-bar input::placeholder {
  color: var(--white);
}

.search-bar img {
  padding: 1.8rem 1.7rem;
  position: absolute;
}

main {
  margin: 0 auto;
  padding: 10rem 0;
  width: 90rem;
}

main .article {
  padding: 2.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: var(--white);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 0.5rem;
  margin-bottom: 5rem;
}

main .article .date {
  display: flex;
  justify-content: space-between;
}

main .article .date span {
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--text);
  margin-bottom: 2.2rem;
}

.article .article-content {
  display: flex;
  flex-direction: column;
}

.article-title {
  font-size: 2.6rem;
  color: var(--title);
  line-height: 3.25rem;
  margin-bottom: 0.8rem;
}

.article-text {
  color: var(--text);
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media screen and (min-width: 320px) and (max-width: 481px) {
  header {
    height: 15rem;
  }

  header .main-header {
    width: 25rem;
  }

  header .main-header .header h1 {
    font-size: 1.8rem;
  }

  .search-bar {
    position: absolute;
    top: 2rem;
  }

  .search-bar img {
    position: relative;
    top: 5rem;
    width: 19%;
  }

  .search-bar input {
    width: 25rem;
    height: 4rem;
    padding: 0 5rem;
    font-size: 1.4rem;
  }

  main {
    padding: 2.5rem 0;
    width: 25rem;
  }

  main .article {
    padding: 1.2rem;
  }

  main .article .date span {
    font-size: 1.4rem;
  }

  .article-title {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .article-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header .main-header {
    width: 50rem;
  }

  .search-bar input {
    width: 50rem;
  }

  main {
    padding: 3rem 0;
    width: 50rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  header .main-header {
    width: 70rem;
  }

  .search-bar input {
    width: 70rem;
  }

  main {
    padding: 8rem 0;
    width: 70rem;
  }
}
