:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --title: #313131;
  --text: #b6b6b6;

  --main-background: #f3f5f7;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3rem;
}

header {
  max-height: 25rem;
  background-image: var(--linear);
}

header .header-content {
  max-width: 90rem;
  margin: 0 auto;
  color: var(--white)
}

header .header-content .title {
  padding-top: 4.1rem;
  margin-bottom: 7.3rem;
  display: flex;
  justify-content: space-between;
}

header .header-content .search-bar {
  display: flex;
  flex-direction: column;
  padding-bottom: 4.1rem;
  max-width: 90rem;
}

.fa-search {
  position: relative;
  left: 1.7rem;
  bottom: 4.7rem;
  font-size: 3rem;
  opacity: .8;
}

header .header-content .search-bar .search-input {
  width: 100%;
  height: 6.5rem;
  background: rgba(255, 255, 255, 0.2);
  outline: 0;
  border: 0;
  padding: 2.1rem 6.4rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  opacity: .8;
  color: var(--white);
  border-radius: .5rem;
}

.search-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.8rem;
  opacity: .5;
  color: var(--white);
}

main {
  background-color: var(--main-background);
}

.main-container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 10rem 0;
}

.main-container .post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background-color: var(--white);
  border-radius: .5rem;
  margin-bottom: 5rem;
}

.main-container .post .post-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.2rem;
}

.main-container .post .post-date span {
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
}

.main-container .post .post-date .fa-heart {
  font-size: 2.5rem;
  color: var(--blue-dark);
  cursor: pointer;
}

.main-container .post .post-title {
  margin-bottom: .8rem;
}

.main-container .post .post-title h2 {
  font-size: 2.6rem;
  color: var(--title);
}

.main-container .post .post-text p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--text);
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  header {
    height: 22rem;
  }

  header .header-content .title {
    margin-bottom: 5rem;
  }

  .main-container {
    padding: 4.1rem 0;
  }
}

/* Tablets, ipads: */
/* Tablets de baixa resolução, celulares: */
@media screen and (min-width: 482px) and (max-width: 1024px) {
  header .header-content {
    margin: 0 2rem;
  }

  .main-container {
    margin: 0 2rem;
    padding: 4rem 0;
  }
}

/* A maioria dos smartphones móveis: */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  header {
    max-height: 12rem;
  }

  header .header-content {
    margin: 0 2rem;
  }

  header .header-content .title {
    padding-top: 1rem;
    margin-bottom: 1.6rem;
  }

  .fa-search {
    position: relative;
    left: 1.7rem;
    bottom: 2.75rem;
    font-size: 1.5rem;
    opacity: .8;
  }

  header .header-content .search-bar .search-input {
    height: 3.25rem;
    padding: 2rem 5rem;
    font-size: 1.2rem;
  }
  
  header .header-content .search-bar input::placeholder {
    font-size: 1.2rem;
  }

  .main-container {
    margin: 0 2rem;
    padding: 1rem 0;
  }

  .main-container .post {
    margin-bottom: 2rem;
  }

  .main-container .post .post-date {
    margin-bottom: .4rem;
  }

  .main-container .post .post-date span {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text);
  }
  
  .main-container .post .post-date .fa-heart {
    font-size: 2rem;
    color: var(--blue-dark);
    cursor: pointer;
  }
  
  .main-container .post .post-title {
    margin-bottom: .4rem;
  }
  
  .main-container .post .post-title h2 {
    font-size: 1.8rem;
    color: var(--title);
  }
  
  .main-container .post .post-text p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text);
  }
  
}
